.App {
  text-align: center;
  font-family: 'Roboto';
}

.container{
  padding: 0 20px;
}

.result{
  display: flex;
  flex-flow: row wrap;
  margin-top: 60px;
  padding: 10px 5px;
  position: relative;
}

.result .image{
  flex: 0 0 50%;
  display: flex;
  text-align: left;
  min-height: 300px;
}

.result .loading{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
}

.result .image a{
  padding: 5px 5px;
  text-decoration: none;
  position: relative;
  display: flex;
  width: 100%;
}

.result .image button{
  position: absolute;
  z-index: 9;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.result .image:hover button{
  opacity: 1;
  visibility: visible;
}

img{
  max-width: 100%;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.App h2{
  text-transform: uppercase;
  padding-bottom: 20px;
}

.create_image{
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  text-align: left;
}

.create_image .item.submit{
  padding-top: 20px;
}

.create_image .item > div{
  width: 100%;
}

@media only screen and (max-width: 475px) {
  .result .image{
    flex: 0 0 100%;
    min-height: auto;
  }
}